@page {
    margin: 0.5cm;
}

p a:after, li a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
    text-transform: none;
}

p a[href^="javascript"], li a[href^="javascript"] {
    display: none;
}

.header-container .header-top {
    position: static;
}

.main-container {
    margin-top: 0;
}

section.main-copy figure, .main-image .main-image-holder img, .hero-image .main-image-holder img {
    max-width: 60%;
}

.c-wb, .l-wr {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

nav, aside, .login-search, .menu-button, .banner-link, .footer-list:first-child, .cookie-bar, .floating-menu, section.related, .close-cast-profile, .carousel-nav, .gallery-thumbs-container, .slick-next.slick-arrow, .slick-prev.slick-arrow, .bottom-feed.w-sl, .w-sl {
    display: none !important;
}

.footer-container footer li.footer-section-large, .footer-container footer li.footer-section-medium {
    width: 47.22222%;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
}

.footer-container footer li.footer-section-medium {
    float: left;
}

.footer-container footer li.footer-section-medium {
    float: right;
}

.bkgrnd-strip.red-overlay {
    background-color: #e03222 !important;
    mix-blend-mode: inherit !important;
}

/* PLAY HUB FIXES */

.play-hub .title-copy {
    position: static;
}

.play-hub .title-copy .title-bkgrnd {
    margin-top: 0;
}

.header-wrapper .side-info {
    padding-left: 0;
    padding-right: 0;
}

.header-wrapper .side-info.prod-info .side-menu {
    display: none;
}

.header-wrapper .side-info.prod-info .time-place, .media-header .header-wrapper .side-info.prod-info .time-place {
    float: none;
}

.title-bkgrnd .credit, .title-bkgrnd .title, .title-bkgrnd .subtitle {
    text-align: left;
}

.cast-creative-widget .cast-thumb figure {
    display: none;
}

.cast-profile figure {
    text-align: left;
}

.cast-thumbs .slick-track, .creative-carousel .slick-track {
    width: auto !important;
    transform: translate3d(0, 0, 0) !important;
}
.creative-carousel .slick-list, .creative-carousel .slick-track {
    height: auto;
}

/* GALLERY FIXES */

.gallery-widget .gallery-photos figure {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

.gallery-widget .gallery-photos figure img {
    margin: 0;
}

