/* line 27, ../sass/_shopstyles.scss */
.greedy-nav-outer {
  background: #e3e6e1;
}

/* line 31, ../sass/_shopstyles.scss */
.greedy-nav-holder {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.greedy-nav-holder:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 35, ../sass/_shopstyles.scss */
.greedy-nav {
  position: relative;
  min-width: 250px;
  margin: 0 auto;
  max-width: 1440px;
}
/* line 41, ../sass/_shopstyles.scss */
.greedy-nav a, .greedy-nav button {
  font-size: 12px;
}
/* line 45, ../sass/_shopstyles.scss */
.greedy-nav a {
  display: block;
  padding: 1rem 1.5rem;
  background: #e3e6e1;
  color: #464841;
  text-decoration: none;
}
/* line 53, ../sass/_shopstyles.scss */
.greedy-nav a:hover {
  color: #fff;
  background: #464841;
}
/* line 59, ../sass/_shopstyles.scss */
.greedy-nav button {
  position: absolute;
  height: 100%;
  right: 0;
  padding: 0 15px;
  border: 0;
  background-color: #e3e6e1;
  color: #464841;
  cursor: pointer;
}
/* line 69, ../sass/_shopstyles.scss */
.greedy-nav button:hover {
  color: #fff;
  background: #464841;
}
/* line 74, ../sass/_shopstyles.scss */
.greedy-nav button::after {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
}
/* line 86, ../sass/_shopstyles.scss */
.greedy-nav .visible-links {
  display: inline-table;
}
/* line 89, ../sass/_shopstyles.scss */
.greedy-nav .visible-links li {
  display: table-cell;
}
/* line 94, ../sass/_shopstyles.scss */
.greedy-nav .hidden-links {
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: 90;
}
/* line 100, ../sass/_shopstyles.scss */
.greedy-nav .hidden-links li {
  display: block;
  border-top: 0px;
}
/* line 106, ../sass/_shopstyles.scss */
.greedy-nav .hidden {
  visibility: hidden;
}
/* line 125, ../sass/_shopstyles.scss */
.shop-page p {
  font-size: 14px;
}
/* line 129, ../sass/_shopstyles.scss */
.shop-page:not(.shop-home) header {
  margin-bottom: 2rem;
  background-color: white;
}
/* line 135, ../sass/_shopstyles.scss */
.shop-page .base-header {
  background-color: white;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.shop-page .base-header:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 140, ../sass/_shopstyles.scss */
.shop-page .button-link {
  font-size: 12px;
  padding: 0.6rem 0.7rem 0.4rem;
}

/* line 149, ../sass/_shopstyles.scss */
.shop-home h1 {
  font-size: 36px !important;
}
/* line 153, ../sass/_shopstyles.scss */
.shop-home .shop-header {
  padding: 0.5rem 1.38889%;
  margin-bottom: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.shop-home .shop-header:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 160, ../sass/_shopstyles.scss */
.shop-home .hero-intro {
  margin-top: 0;
}
/* line 163, ../sass/_shopstyles.scss */
.shop-home .hero-intro p {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 0;
}
/* line 169, ../sass/_shopstyles.scss */
.shop-home .hero-intro .button-link {
  font-weight: normal;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  margin-top: 1rem;
}/* line 188, ../sass/_shopstyles.scss */
.shop-home .listing-container {
  margin-bottom: 1.5rem;
}

/* line 196, ../sass/_shopstyles.scss */
.gold-btn svg {
  fill: #464841;
  -moz-transition: fill 0.4s ease-out;
  -o-transition: fill 0.4s ease-out;
  -webkit-transition: fill 0.4s ease-out;
  transition: fill 0.4s ease-out;
}
/* line 201, ../sass/_shopstyles.scss */
.gold-btn:hover svg {
  fill: #f5d606;
  -moz-transition: fill 0.25s ease-out;
  -o-transition: fill 0.25s ease-out;
  -webkit-transition: fill 0.25s ease-out;
  transition: fill 0.25s ease-out;
}

/* line 209, ../sass/_shopstyles.scss */
.gray-btn svg {
  fill: #f5d606;
  -moz-transition: fill 0.4s ease-out;
  -o-transition: fill 0.4s ease-out;
  -webkit-transition: fill 0.4s ease-out;
  transition: fill 0.4s ease-out;
}
/* line 214, ../sass/_shopstyles.scss */
.gray-btn:hover svg {
  fill: white;
  -moz-transition: fill 0.25s ease-out;
  -o-transition: fill 0.25s ease-out;
  -webkit-transition: fill 0.25s ease-out;
  transition: fill 0.25s ease-out;
}

/* line 222, ../sass/_shopstyles.scss */
.shop-cat header, .shop-cat section, .shop-dept header, .shop-dept section, .shop-details header, .shop-details section {
  padding: 0 5.55556%;
}
/* line 226, ../sass/_shopstyles.scss */
.shop-cat .base-header, .shop-dept .base-header, .shop-details .base-header {
  width: 96.66667%;
  float: left;
  margin-left: 1.66667%;
  margin-right: 1.66667%;
}/* line 237, ../sass/_shopstyles.scss */
.shop-cat .half, .shop-cat .third, .shop-dept .half, .shop-dept .third, .shop-details .half, .shop-details .third {
  width: 96.66667%;
  float: left;
  margin-left: 1.66667%;
  margin-right: 1.66667%;
}
/* line 241, ../sass/_shopstyles.scss */
.shop-cat .quarter, .shop-dept .quarter, .shop-details .quarter {
  width: 46.66667%;
  float: left;
  margin-left: 1.66667%;
  margin-right: 1.66667%;
}
/* line 244, ../sass/_shopstyles.scss */
.shop-cat .quarter:nth-of-type(2n + 3), .shop-dept .quarter:nth-of-type(2n + 3), .shop-details .quarter:nth-of-type(2n + 3) {
  clear: both;
}
/* line 310, ../sass/_shopstyles.scss */
.shop-header-outer {
  background-color: white;
}

/* line 314, ../sass/_shopstyles.scss */
.shop-header {
  text-align: right;
  margin-bottom: 2rem;
}
/* line 319, ../sass/_shopstyles.scss */
.shop-header a {
  padding: 6px 2rem 0 0;
  float: left;
}/* line 328, ../sass/_shopstyles.scss */
.shop-header a span {
  color: #464841;
  display: none;
}/* line 338, ../sass/_shopstyles.scss */
.shop-header input {
  width: 50%;
  max-width: 200px;
  padding: 5px 35px 5px 0;
}
/* line 344, ../sass/_shopstyles.scss */
.shop-header span a {
  margin-left: -30px;
  padding-right: 5px;
  color: #464841;
  float: none;
}
/* line 350, ../sass/_shopstyles.scss */
.shop-header span a:hover {
  color: #e03222;
}

/* line 362, ../sass/_shopstyles.scss */
.product-container {
  margin-bottom: 2rem;
}

/* line 367, ../sass/_shopstyles.scss */
.product-image {
  display: block;
  max-width: 100%;
}

/* line 372, ../sass/_shopstyles.scss */
.product-title, .category-title {
  color: #464841;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

/* line 379, ../sass/_shopstyles.scss */
.product-title {
  font-weight: bold;
}
/* line 388, ../sass/_shopstyles.scss */
.category-title {
  margin-bottom: 1rem;
}

/* line 394, ../sass/_shopstyles.scss */
.third .product-image-holder {
  height: auto;
}
/* line 410, ../sass/_shopstyles.scss */
.quarter .product-image-holder {
  height: 135px;
}
/* line 436, ../sass/_shopstyles.scss */
.product-image-holder .product-image {
  max-height: 100%;
}

/* line 440, ../sass/_shopstyles.scss */
.product-images {
  height: 100%;
  position: relative;
}
/* line 450, ../sass/_shopstyles.scss */
.product-image-thumbnails {
  margin-top: 1rem;
  text-align: center;
}

/* line 456, ../sass/_shopstyles.scss */
.thumbnail {
  max-width: 50px;
  cursor: pointer;
}

/* line 461, ../sass/_shopstyles.scss */
.product-details {
  padding-top: 1rem;
}

/* line 466, ../sass/_shopstyles.scss */
.product-price {
  color: #e03222;
  float: right;
  font-weight: bold;
}

/* line 472, ../sass/_shopstyles.scss */
.product-description {
  padding-top: 5px;
  color: #464841;
  clear: both;
  margin-bottom: 1rem;
}

/* line 481, ../sass/_shopstyles.scss */
.cta {
  position: relative;
  border-top: 1px solid #e3e6e1;
  margin-top: 1.5rem;
}
/* line 487, ../sass/_shopstyles.scss */
.cta p {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
/* line 493, ../sass/_shopstyles.scss */
.cta .quantity {
  padding: 1rem 0;
  border-top: 1px solid #e3e6e1;
  border-bottom: 1px solid #e3e6e1;
}
/* line 499, ../sass/_shopstyles.scss */
.cta .quantity select {
  padding: 0 5px;
}
/* line 526, ../sass/_shopstyles.scss */
.hero-container, .hero-container-1, .hero-container-2 {
  margin-bottom: 4rem;
}

/* line 533, ../sass/_shopstyles.scss */
.hero-container-1 .product-container {
  width: 96.66667%;
  float: left;
  margin-left: 1.66667%;
  margin-right: 1.66667%;
}
/* line 537, ../sass/_shopstyles.scss */
.hero-container-1 .product-image {
  margin-left: auto;
  margin-right: auto;
  max-height: 340px;
  width: auto;
}
/* line 544, ../sass/_shopstyles.scss */
.hero-container-1 .product-price {
  margin: 2rem 0 1rem;
  float: none;
}
/* line 550, ../sass/_shopstyles.scss */
.hero-container-1 .product-details {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
/* line 557, ../sass/_shopstyles.scss */
.hero-container-1 .offer-panel {
  padding: 1rem;
  margin: 1rem 0;
  background: #e3e6e1;
}
/* line 564, ../sass/_shopstyles.scss */
.hero-container-1 .offer-panel .offer {
  padding: 0.5rem 0;
}
/* line 591, ../sass/_shopstyles.scss */
.hero-container-2 .product-image {
  margin-left: auto;
  margin-right: auto;
}
/* line 596, ../sass/_shopstyles.scss */
.hero-container-2 .product-details {
  position: relative;
  height: 100%;
}
/* line 601, ../sass/_shopstyles.scss */
.hero-container-2 .button-link {
  margin-bottom: 1rem;
}
/* line 632, ../sass/_shopstyles.scss */
.listing-container h2 {
  max-width: 100%;
  margin: 2rem 1.38889%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #464841;
  font-size: 26px;
}
/* line 640, ../sass/_shopstyles.scss */
.listing-container h2 span {
  color: #b4baae;
}
/* line 645, ../sass/_shopstyles.scss */
.listing-container .sort {
  margin: 0 5.55556%;
}/* line 655, ../sass/_shopstyles.scss */
.listing-container .product-price {
  font-size: 12px;
}/* line 663, ../sass/_shopstyles.scss */
.listing-container a.list-item {
  display: block;
}
/* line 669, ../sass/_shopstyles.scss */
.listing-container.list-centered h2 {
  border: 0;
  padding-bottom: 0;
  margin-top: 0;
  text-align: center;
}
/* line 676, ../sass/_shopstyles.scss */
.listing-container.list-centered .list-item {
  margin-bottom: 2.5rem;
}
/* line 681, ../sass/_shopstyles.scss */
.listing-container.list-centered .category-title {
  color: #e03222;
  font-size: 12px;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1rem;
  height: 2rem;
  overflow: hidden;
  letter-spacing: 0.03rem;
}

/* line 705, ../sass/_shopstyles.scss */
.sh-featured {
  margin-top: 2rem;
}
/* line 709, ../sass/_shopstyles.scss */
.sh-featured h2 {
  font-weight: normal;
  font-size: 26px;
  border-bottom: 1px solid #464841;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
/* line 718, ../sass/_shopstyles.scss */
.sh-featured .button-link {
  font-weight: normal;
}
/* line 721, ../sass/_shopstyles.scss */
.sh-featured .button-link svg {
  height: 11px;
  width: 7px;
}

/* line 728, ../sass/_shopstyles.scss */
.sh-featured-inner {
  padding: 2rem 5.55556%;
  border: 1px solid #464841;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 737, ../sass/_shopstyles.scss */
.sh-featured-inner > div {
  margin-left: 1.66667%;
  margin-right: 1.66667%;
}
/* line 772, ../sass/_shopstyles.scss */
.sh-feat-header {
  -webkit-order: -1;
  order: -1;
}
/* line 780, ../sass/_shopstyles.scss */
.sh-feat-details {
  padding-top: 1rem;
}

/* line 785, ../sass/_shopstyles.scss */
.sh-feat-title {
  text-transform: uppercase;
  color: #e03222;
  line-height: 1.3rem;
  letter-spacing: 0.03rem;
  margin-bottom: 0.5rem;
}

/* line 799, ../sass/_shopstyles.scss */
.sh-feat-desc {
  margin: 1rem 0;
  letter-spacing: 0.03rem;
}

/* line 811, ../sass/_shopstyles.scss */
.sh-infocus-outer {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

/* line 819, ../sass/_shopstyles.scss */
.sh-infocus h2 {
  color: #e3e6e1;
  text-align: center;
  font-size: 26px;
  margin: 0 auto 2rem auto;
}
/* line 827, ../sass/_shopstyles.scss */
.sh-infocus .hs-outer {
  padding-bottom: 0.5rem;
}
/* line 832, ../sass/_shopstyles.scss */
.sh-infocus .hs-item {
  width: 47.22222%;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}/* line 846, ../sass/_shopstyles.scss */
.sh-infocus .hs-item-inner {
  text-align: center;
}
/* line 850, ../sass/_shopstyles.scss */
.sh-infocus .product-image {
  max-height: 144px;
  display: inline-block;
}/* line 875, ../sass/_shopstyles.scss */
.sh-infocus .product-title {
  color: #f5d606;
  margin-top: 0.5rem;
  padding-bottom: 0;
  float: none !important;
  width: 100% !important;
  font-size: 14px;
  line-height: 1.1em;
}
/* line 886, ../sass/_shopstyles.scss */
.sh-infocus .hs-transport {
  text-align: right;
  margin-top: 2rem;
}
/* line 891, ../sass/_shopstyles.scss */
.sh-infocus .hs-transport .hs-right, .sh-infocus .hs-transport .hs-left {
  display: inline-block;
  width: 13.88889%;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}
/* line 898, ../sass/_shopstyles.scss */
.sh-infocus .hs-transport .hs-right:hover svg, .sh-infocus .hs-transport .hs-left:hover svg {
  fill: white;
  transition: fill 0.25s ease-out;
}/* line 909, ../sass/_shopstyles.scss */
.sh-infocus .hs-transport svg {
  transition: fill 0.4s ease-out;
  fill: #f5d606;
  max-width: 40px;
  max-height: 23px;
}

/* line 924, ../sass/_shopstyles.scss */
.sh-banner-inner {
  padding-bottom: 2rem;
}
/* line 928, ../sass/_shopstyles.scss */
.sh-banner-inner h2, .sh-banner-inner p {
  color: #f5d606;
  margin-bottom: 0.5rem;
}
/* line 934, ../sass/_shopstyles.scss */
.sh-banner-inner p {
  font-size: 16px;
  line-height: 1.3rem;
}
/* line 940, ../sass/_shopstyles.scss */
.sh-banner-inner > .fth-smad-12:first-of-type {
  margin-bottom: 2rem;
}
/* line 945, ../sass/_shopstyles.scss */
.sh-banner-inner a.button-link {
  font-size: 14px;
  font-weight: normal;
  padding-top: 1rem;
}
/* line 951, ../sass/_shopstyles.scss */
.sh-banner-inner a.button-link svg {
  width: 12px;
  height: 12px;
  fill: white;
  -moz-transition: fill 0.4s ease-out;
  -o-transition: fill 0.4s ease-out;
  -webkit-transition: fill 0.4s ease-out;
  transition: fill 0.4s ease-out;
}
/* line 958, ../sass/_shopstyles.scss */
.sh-banner-inner a.button-link:hover svg {
  fill: #e03222;
  -moz-transition: fill 0.25s ease-out;
  -o-transition: fill 0.25s ease-out;
  -webkit-transition: fill 0.25s ease-out;
  transition: fill 0.25s ease-out;
}
/* line 964, ../sass/_shopstyles.scss */
.sh-banner-inner .sh-banner-img, .sh-banner-inner .sh-banner-copy {
  padding-left: 5.55556%;
  padding-right: 5.55556%;
}
/* line 997, ../sass/_shopstyles.scss */
.sh-footer {
  padding: 1rem 0;
  margin-bottom: -2rem;
}
/* line 1002, ../sass/_shopstyles.scss */
.sh-footer h2 {
  margin-bottom: 1rem;
}
/* line 1007, ../sass/_shopstyles.scss */
.sh-footer ul > li {
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
}
/* line 1013, ../sass/_shopstyles.scss */
.sh-footer ul > li:last-child {
  margin-bottom: 0;
}
/* line 1018, ../sass/_shopstyles.scss */
.sh-footer .cat-sec {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 480px) {
  /* line 2, ../sass/_shopstyles.scss */
  body {
    background-color: white;
  }

  /* line 231, ../sass/_shopstyles.scss */
  .shop-cat .listing-container h2, .shop-dept .listing-container h2, .shop-details .listing-container h2 {
    margin-right: 1.66667%;
    margin-left: 1.66667%;
  }

  /* line 319, ../sass/_shopstyles.scss */
  .shop-header a {
    float: none;
  }

  /* line 379, ../sass/_shopstyles.scss */
  .product-title {
    float: left;
    width: 75%;
  }

  /* line 394, ../sass/_shopstyles.scss */
  .third .product-image-holder {
    height: 220px;
  }

  /* line 410, ../sass/_shopstyles.scss */
  .quarter .product-image-holder {
    height: 200px;
  }

  /* line 850, ../sass/_shopstyles.scss */
  .sh-infocus .product-image {
    max-height: 215px;
  }
}

@media (min-width: 600px) {
  /* line 7, ../sass/_shopstyles.scss */
  body {
    background-color: white;
  }

  /* line 251, ../sass/_shopstyles.scss */
  .shop-cat .half, .shop-dept .half, .shop-details .half {
    width: 46.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
  }
  /* line 255, ../sass/_shopstyles.scss */
  .shop-cat .third, .shop-dept .third, .shop-details .third {
    width: 46.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
  }
  /* line 258, ../sass/_shopstyles.scss */
  .shop-cat .third:nth-of-type(2n + 3), .shop-dept .third:nth-of-type(2n + 3), .shop-details .third:nth-of-type(2n + 3) {
    clear: both;
  }
  /* line 263, ../sass/_shopstyles.scss */
  .shop-cat .quarter, .shop-dept .quarter, .shop-details .quarter {
    width: 29.99967%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
  }
  /* line 266, ../sass/_shopstyles.scss */
  .shop-cat .quarter:nth-of-type(2n + 3), .shop-dept .quarter:nth-of-type(2n + 3), .shop-details .quarter:nth-of-type(2n + 3) {
    clear: none;
  }
  /* line 270, ../sass/_shopstyles.scss */
  .shop-cat .quarter:nth-of-type(3n + 4), .shop-dept .quarter:nth-of-type(3n + 4), .shop-details .quarter:nth-of-type(3n + 4) {
    clear: both;
  }

  /* line 328, ../sass/_shopstyles.scss */
  .shop-header a span {
    display: inline;
  }

  /* line 410, ../sass/_shopstyles.scss */
  .quarter .product-image-holder {
    height: 170px;
  }

  /* line 655, ../sass/_shopstyles.scss */
  .listing-container .product-price {
    font-size: 14px;
  }

  /* line 728, ../sass/_shopstyles.scss */
  .sh-featured-inner {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 450px;
  }
  /* line 748, ../sass/_shopstyles.scss */
  .sh-featured-inner > div {
    width: 47.22222%;
  }

  /* line 760, ../sass/_shopstyles.scss */
  .sh-feat-image {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  /* line 766, ../sass/_shopstyles.scss */
  .sh-feat-image img {
    max-height: 100%;
  }

  /* line 772, ../sass/_shopstyles.scss */
  .sh-feat-header {
    -webkit-order: 0;
    order: 0;
  }

  /* line 832, ../sass/_shopstyles.scss */
  .sh-infocus .hs-item {
    width: 30.55556%;
  }

  /* line 850, ../sass/_shopstyles.scss */
  .sh-infocus .product-image {
    max-height: 174px;
  }

  /* line 891, ../sass/_shopstyles.scss */
  .sh-infocus .hs-transport .hs-right, .sh-infocus .hs-transport .hs-left {
    width: 5.55556%;
  }

  /* line 924, ../sass/_shopstyles.scss */
  .sh-banner-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  /* line 974, ../sass/_shopstyles.scss */
  .sh-banner-inner > .fth-smad-12:first-of-type {
    margin-bottom: 0;
  }
  /* line 978, ../sass/_shopstyles.scss */
  .sh-banner-inner .sh-banner-copy {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 790px) {
  /* line 12, ../sass/_shopstyles.scss */
  body {
    background-color: white;
  }

  /* line 178, ../sass/_shopstyles.scss */
  .shop-home .hero-intro .button-link {
    font-size: 14px;
  }

  /* line 278, ../sass/_shopstyles.scss */
  .shop-cat .third, .shop-dept .third, .shop-details .third {
    width: 29.99967%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
  }
  /* line 281, ../sass/_shopstyles.scss */
  .shop-cat .third:nth-of-type(2n + 3), .shop-dept .third:nth-of-type(2n + 3), .shop-details .third:nth-of-type(2n + 3) {
    clear: none;
  }
  /* line 285, ../sass/_shopstyles.scss */
  .shop-cat .third:nth-of-type(3n + 4), .shop-dept .third:nth-of-type(3n + 4), .shop-details .third:nth-of-type(3n + 4) {
    clear: both;
  }
  /* line 290, ../sass/_shopstyles.scss */
  .shop-cat .quarter, .shop-dept .quarter, .shop-details .quarter {
    width: 21.66667%;
    float: left;
    margin-left: 1.66667%;
    margin-right: 1.66667%;
  }
  /* line 293, ../sass/_shopstyles.scss */
  .shop-cat .quarter:nth-of-type(3n + 4), .shop-dept .quarter:nth-of-type(3n + 4), .shop-details .quarter:nth-of-type(3n + 4) {
    clear: none;
  }
  /* line 297, ../sass/_shopstyles.scss */
  .shop-cat .quarter:nth-of-type(4n + 5), .shop-dept .quarter:nth-of-type(4n + 5), .shop-details .quarter:nth-of-type(4n + 5) {
    clear: both;
  }

  /* line 410, ../sass/_shopstyles.scss */
  .quarter .product-image-holder {
    height: 165px;
  }

  /* line 440, ../sass/_shopstyles.scss */
  .product-images {
    float: left;
    width: 30%;
  }

  /* line 481, ../sass/_shopstyles.scss */
  .cta {
    float: right;
    width: 18%;
    height: 100%;
    padding-left: 1%;
    margin-top: 0;
    border-top: 0;
    padding-bottom: 2rem;
  }
  /* line 514, ../sass/_shopstyles.scss */
  .cta .product-price {
    margin-top: 0;
  }

  /* line 572, ../sass/_shopstyles.scss */
  .hero-container-1 .product-price {
    margin: 1rem 0;
    float: none;
    font-size: 18px;
  }
  /* line 579, ../sass/_shopstyles.scss */
  .hero-container-1 .product-details {
    width: 50%;
    float: left;
    margin-top: 0;
    padding: 0 1%;
    border-right: 1px solid #e3e6e1;
  }

  /* line 850, ../sass/_shopstyles.scss */
  .sh-infocus .product-image {
    max-height: 229px;
  }
}

@media (min-width: 1024px) {
  /* line 17, ../sass/_shopstyles.scss */
  body {
    background-color: white;
  }

  /* line 111, ../sass/_shopstyles.scss */
  .greedy-nav a, .greedy-nav button {
    font-size: 14px;
  }

  /* line 394, ../sass/_shopstyles.scss */
  .third .product-image-holder {
    height: 340px;
  }

  /* line 410, ../sass/_shopstyles.scss */
  .quarter .product-image-holder {
    height: 200px;
  }

  /* line 608, ../sass/_shopstyles.scss */
  .hero-container-2 .product-image {
    float: left;
    width: 48%;
    text-align: left;
  }
  /* line 614, ../sass/_shopstyles.scss */
  .hero-container-2 .product-details {
    float: right;
    width: 52%;
    height: 100%;
    padding-left: 1rem;
  }

  /* line 645, ../sass/_shopstyles.scss */
  .listing-container .sort {
    float: right;
    margin: 2rem 1.5% 0 1.5%;
  }

  /* line 754, ../sass/_shopstyles.scss */
  .sh-featured-inner > div {
    width: 38.88889%;
  }

  /* line 850, ../sass/_shopstyles.scss */
  .sh-infocus .product-image {
    max-height: 297px;
  }

  /* line 985, ../sass/_shopstyles.scss */
  .sh-banner-inner h2 {
    font-size: 36px;
  }
}

@media (min-width: 1440px) {
  /* line 22, ../sass/_shopstyles.scss */
  body {
    background-color: white;
  }

  /* line 394, ../sass/_shopstyles.scss */
  .third .product-image-holder {
    height: 418px;
  }

  /* line 410, ../sass/_shopstyles.scss */
  .quarter .product-image-holder {
    height: 265px;
  }

  /* line 832, ../sass/_shopstyles.scss */
  .sh-infocus .hs-item {
    width: 22.22222%;
  }

  /* line 850, ../sass/_shopstyles.scss */
  .sh-infocus .product-image {
    max-height: 304px;
  }
}
