/*#region LOADER */
#syos-outer 
{
    position: relative;
    min-height: 500px;
}

#syos-loader
{
    min-height: 500px;
}

#syos-loader .loader-outer
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    background-color: none;
}

#syos-wrapper
{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

#syos-wrapper.faded
{
    opacity: 0.2;
    transition: opacity 0.4s ease-out;
}

#syos-loader .loader::before,
#syos-loader .loader::after
{
    background: #ffffff;
}
/*#endregion */

/*#region PERFORMANCE INFO */
#PerformanceInfoPanel 
{
    margin-bottom: 32px;
    margin-bottom: 2rem;
    padding-bottom: 32px;
    padding-bottom: 2rem;
    border-bottom: 1px solid #b4baae;
}

#PerformanceInfoPanel h2 
{
  margin-top: 0;
  margin-bottom: 0;
}

#PerformanceInfoPanel h3
{
  margin-bottom: 0;
}

#PerformanceInfoPanel #production-info, #PerformanceInfoPanel #performance-timing
{
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

#PerformanceInfoPanel #performance-timing .small-link
{
  font-size: 12px;
}

#priorityBooking
{
    border: 1px solid #b4baae;
    padding-top: 16px;
    padding-top: 1rem;
}

/*#endregion */

/*#region AUDITORIA LEVELS */
#AuditoriaLevels
{
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

#AuditoriaLevels:after
{
  content: " ";
  display: block;
  clear: both;
}

/*#region VISUAL AUDITORIA */
/* levels svg */
#AuditoriaLevels .levels-svg
{
    margin-top: 16px;
    margin-top: 1rem;
    max-width: 500px;
    min-height: 200px;
    /* min-height: 253px; */
}

#AuditoriaLevels svg {
    width: 100%;
}

.levels-svg .stage
{
    fill: #b4baae;
    stroke: #464841;
}

.levels-svg .seat-level, .levels-svg .seat-level .seats
{
    cursor: pointer;
    opacity: 0.8;
    fill: #464841;
    stroke: black;
    stroke-width: 0.5;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.levels-svg .seat-level.low-avail, .levels-svg .seat-level .seats.low-avail
{
    fill: #f5d606;
}

.levels-svg .seat-level.low-avail-hatch, .levels-svg .seat-level .seats.low-avail
{
    fill: url(#diagonalHatch);
}

.levels-svg .seat-level.unavail, .levels-svg .seat-level .seats.unavail
{
    cursor: auto;
    fill: #b4baae;
    stroke: #b4baae;
}

.levels-svg .seat-level:hover, .levels-svg .seat-level:hover .seats, .levels-svg .seat-level.selected, .levels-svg .seat-level.selected .seats
{
    opacity: 1;
    fill: #e03222;
    stroke: #464841;
}

.levels-svg .seat-level:hover + line {
    stroke: #e03222;
}

.levels-svg .seat-level.unavail:hover, .levels-svg .seat-level.unavail:hover .seats
{
    opacity: 0.8;
    fill: #b4baae;
    stroke: #b4baae;
}

.levels-svg .seat-level.selected
{
    cursor: auto;
}

.levels-svg .seat-level.unavailable
{
    opacity: 0.5;
    fill: #b4baae;
    stroke: #5b5e58;
    cursor: auto;
}

.levels-svg .seat-level.unavailable:hover
{
    opacity: 0.5;
    fill: #b4baae;
    stroke: #5b5e58;
}

.levels-svg .tag-group .tag
{
    fill: white;
}

.levels-svg .tag-group.alt .tag
{
    fill: #464841;
}

.levels-svg .tag-group .tag.title
{
    font-weight: bold;
    /* font-size: 18px; */
    font-size: 10px;
    fill: #464841;
}

.levels-svg .tag-group.alt .low-avail, .levels-svg .tag-group.alt .unavail
{
    /* font-size: 14px; */
    font-size: 8px;
    fill: #e03222;
    display: none;
}

.levels-svg .tag-group .low-avail.active, .levels-svg .tag-group .unavail.active
{
    display: block;
}

.levels-svg line
{
    stroke: #464841;
    stroke-width: 0.5;
    transition: stroke 0.4s ease-out;
}

.levels-svg .tag-group.low-avail .tag
{
    fill: #464841;
}
/*#endregion*/

/*#region NO VISUAL AUDITORIA*/
#AuditoriaLevels #levels a 
{
    display: block;
    float: left;
    background: #e03222;
    padding: 11px 8px 9px;
    padding: 0.7rem 0.5rem 0.6rem;
    margin-right: 1px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

#AuditoriaLevels #levels a:hover, #AuditoriaLevels #levels a.selected
{
  background-color: #464841;
  color: #f5d606;
}

#AuditoriaLevels #levels a.unavailable
{
    background: #e3e6e1;
    cursor: default;
}

#AuditoriaLevels #levels a.unavailable:hover
{
    color: #ffffff;
}

#AuditoriaLevels #levels
{
    padding-top: 16px;
    padding-top: 1rem;
}

h5, #AuditoriaLevels #levels p, #AuditoriaLevels #blocks p, #SyosPanel > p
{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}
/*#endregion*/

/*#region LEGENDS */
.PriceTypeKey
{
    margin-top: 16px;
    margin-top: 1rem;
    font-size: 12px;
}

.PriceTypeKey span.key-header
{
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 4px;
    margin-bottom: 0.25rem;
}

.PriceTypeKey .key-outer
{
    float: left;
    padding-right: 4px;
}

.PriceTypeKey .key-outer .key-color, .PriceTypeKey .key-outer .key-label
{
    display: inline-block;
}

.PriceTypeKey .key-outer .key-label
{
    height: 16px;
    height: 1rem;
    padding-right: 16px;
    margin-bottom: 8px;
}

.PriceTypeKey .key-outer .key-color
{
    border-radius: 8px;
    border-radius: 0.5rem;
    border: 1px solid #464841;
    width: 10px;
    height: 10px;
}

.PriceTypeKey .key-outer .key-color.level
{
    border-radius: 0;
}

.PriceTypeKey .key-outer .key-color.S
{
  background: #ABB2DA;
}

.PriceTypeKey .key-outer .key-color.A
{
  background: #7BCF9E;
}

.PriceTypeKey .key-outer .key-color.B
{
  background: #FFEF77;
}

.PriceTypeKey .key-outer .key-color.C
{
  background: #FFAF60;
}

.PriceTypeKey .key-outer .key-color.D
{
  background: #6FD9F8;
}

.PriceTypeKey .key-outer .key-color.E
{
  background: #FDB0D3;
}

.PriceTypeKey .key-outer .key-color.Standing
{
  background: #666666;
}

.PriceTypeKey .key-outer .key-color.N /* Wheelchair & companion */
{
  background: #6385ff;
}

.PriceTypeKey .key-outer .key-color.unav /* Wheelchair & companion */
{
  background-color: #b4baae;
  border: 0;
}

/* .PriceTypeKey .key-outer .key-color.av
{
  background: #464841;
}

.PriceTypeKey .key-outer .key-color.l-av
{
  background: #f5d606;
}

.PriceTypeKey .key-outer .key-color.n-av
{
  background: #b4baae;
} */
/*#endregion*/

/*#region SECTION BLOCKS */
#AuditoriaLevels #section-blocks
{
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

#AuditoriaLevels #blocks
{
    padding-top: 32px;
    padding-top: 2rem;
}

#AuditoriaLevels svg
{
    background-color: white;
}

#AuditoriaLevels #blocks svg
{
    max-width: 500px;
}

#AuditoriaLevels #blocks .block-bkgrnd
{
    fill: #464841;
}

#AuditoriaLevels #blocks .block
{
    stroke: white;
    stroke-width: 1px;
    fill: rgba(255, 255, 255, 0);
    cursor: pointer;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

#AuditoriaLevels #blocks .block:hover,
#AuditoriaLevels #blocks .block.selected-block
{
	fill: #e03222;
}

#AuditoriaLevels #blocks .block.unavailable,
#AuditoriaLevels #blocks .block.unavailable:hover
{
    fill: #b4baae !important;
    fill-opacity: 0.5;
    cursor: initial;
}

#AuditoriaLevels #blocks .stage
{
  stroke: #b4baae;
  stroke-width: 1px;
  fill: none;
}

#AuditoriaLevels #blocks g.stage-title
{
  transform: translateX(-367px) translateY(263px);
}

#AuditoriaLevels #blocks #rst-new g.stage-title
{
    transform: translateX(-367px) translateY(283px);
}

#AuditoriaLevels #blocks g.stage-title path, #AuditoriaLevels #blocks g.stage-title-bbcan path
{
    fill: #b4baae;
}

#AuditoriaLevels .seat
{
    opacity: 1;
    mix-blend-mode: overlay;
}

#AuditoriaLevels .seat.avl
{
    stroke: white;
    stroke-width: 1px;
    stroke-opacity: 1;
    fill: white;
}

#AuditoriaLevels .seat-key
{
    fill: #b4baae;
}

#AuditoriaLevels .seat.nia, #AuditoriaLevels .seat.hld, #AuditoriaLevels .seat.rto, #AuditoriaLevels .seat.rpd
{
    fill: none !important;
    stroke: white !important;
    stroke-width: 1 !important;
}
/*#endregion*/

/*#region MISC */
select
{
    padding: 10px;
}

.no-syos
{
    display: none;
}
/*#endregion*/

/*#region  MAP CONTAINER */
#MapContainer
{
    border: 1px solid #e3e6e1;
    padding: 10px;
    /* max-width: 920px; */
    max-width: 700px;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

#MapContainer svg
{
    width: 100%;
    height: auto;
}

.k-ie #AuditoriaLevels .levels-svg
{
    max-width: 500px;
}

.k-ie #MapContainer svg
{
    min-height: 500px;
}

.map_523_0
{
  background: url("/RSC/SYOS/facility/523/images/svg/523_0.svg") left 10px no-repeat;
}

.map_523_1
{
  background: url("/RSC/SYOS/facility/523/images/svg/523_1.svg") left 10px no-repeat;
}

.map_523_2
{
  background: url("/RSC/SYOS/facility/523/images/svg/523_2.svg") left 10px no-repeat;
}

.map_524_0
{
  background: url("/RSC/SYOS/facility/524/images/svg/524_0.svg") center center no-repeat;
}

.map_524_1
{
  background: url("/RSC/SYOS/facility/524/images/svg/524_1.svg") center center no-repeat;
}

.map_524_2
{
  background: url("/RSC/SYOS/facility/524/images/svg/524_2.svg") center center no-repeat;
}

.map_958_0
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0.svg") left 10px no-repeat;
}

.map_958_1
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_1.svg") left 10px no-repeat;
}

.map_958_2
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_2.svg") left 10px no-repeat;
}

.map_814_0
{
  background: url("/RSC/SYOS/facility/814/images/svg/814_0.svg") center center no-repeat;
}

.map_814_1
{
  background: url("/RSC/SYOS/facility/814/images/svg/814_1.svg") center center no-repeat;
}

.map_814_2
{
  background: url("/RSC/SYOS/facility/814/images/svg/814_2.svg") center center no-repeat;
}

.map_814_3
{
  background: url("/RSC/SYOS/facility/814/images/svg/814_3.svg") center center no-repeat;
}
/*#endregion */

/*#region SEAT STYLES */
.seat
{
  fill: white;
  stroke-width: 1;
  stroke: #464841;
  stroke-opacity: 0.8;
  transition: fill 0.2s ease-out;
}

.seat.avl
{
  cursor: pointer;
}

.seat.blk
{
    display: none;
}

.seat.lck, .seat.hld, .seat.rto, .seat.nia, .seat.rpd,
.seat.lrs:hover, .seat.lck:hover, .seat.hld:hover, .seat.rto:hover, .seat.nia:hover, .seat.rpd:hover
{
  fill: #b4baae !important;
  stroke-width: 0;
  opacity: 0.6;
}

.seat:hover
{
  fill: #464841 !important;
}

.seat.selected
{
  fill-opacity: 1;
  fill: #e03222 !important;
  stroke: #e03222;
  stroke-opacity: 1;
  stroke-width: 4;
}

.tooltip, .tooltip_bg
{
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.tooltip.vis, .tooltip_bg.vis
{
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.tooltip_bg {
    fill: #464841;
    stroke: none;
}
.tooltip {
    fill: #f5d606;
    font-size: 12px;
}
#seatNumb {
    font-weight: bold;
    font-size: 14px;
}
/*#endregion */

/*#region SEAT POPUP */
#seat-information
{
    color: white;
    background-color: #464841;
    border: 1px solid #e3e6e1;
    padding: 16px;
    padding: 1rem;
    position: absolute;
    z-index: 10;
    display: none;
}

#seat-information .arrow
{
  width: 0px;
  height: 0px;
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  margin-top: -34px;
  margin-left: 100px;
  position: absolute;
}

#seat-information #info h4
{
  float: left;
}

#seat-information #info #close
{
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

#seat-information #vfs
{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

#seat-information #vfs:after
{
  content: " ";
  display: block;
  clear: both;
}

#seat-information .avail
{
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

#seat-information #pricetype-table
{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  font-size: 12px;
}

#seat-information #pricetype-table:after
{
  content: " ";
  display: block;
  clear: both;
}

#seat-information #pricetype-table .pricetype-line
{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    margin-bottom: 0.8rem;
    margin-bottom: 13px;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #b4baae;
}
#seat-information #pricetype-table .pricetype-line:after
{
  content: " ";
  display: block;
  clear: both;
}

#seat-information #pricetype-table .pricetype-line:last-child
{
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

#seat-information #pricetype-table .pricetype-line .type, #seat-information #pricetype-table .pricetype-line .price, #seat-information #pricetype-table .pricetype-line .btn
{
  width: 33%;
}

#seat-information #pricetype-table .pricetype-line .type, #seat-information #pricetype-table .pricetype-line .price
{
  float: left;
}

#seat-information #pricetype-table .pricetype-line .type
{
  font-style: italic;
}

#seat-information #pricetype-table .pricetype-line .price
{
  text-align: center;
}

#seat-information #pricetype-table .pricetype-line .btn
{
  float: right;
  text-align: right;
}
/*#endregion */

/*#region SEAT SELECTION SUMMARY */
#Summary
{
  background: #e3e6e1;
  margin-bottom: 16px;
}

#Summary #infotag
{
  text-align: center;
}

#Summary h3 a
{
  text-align: right;
}

#SelectedLevel
{
  position: relative;
}

#Summary #seat-selection-summary
{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

#Summary #seat-selection-summary:after
{
  content: " ";
  display: block;
  clear: both;
}

#Summary #seat-selection-summary .summary-row div
{
    float: left;
    width: 25%;
    font-size: 14px;
    line-height: 1.2em;
}

.summary-row div span
{
    display: inline-block;
}

#Summary #seat-selection-summary .summary-row .remove
{
    float: right;
    width: 100%;
    margin-top: 4px;
}

#Summary #seat-selection-summary .summary-row .type
{
    display: block;
}

.summary-row .seat, .summary-row .type
{
    text-align: center;
}

.summary-row .price
{
    text-align: right;
}

#Summary #seat-selection-summary .summary-row
{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    margin-bottom: 0.8rem;
    margin-bottom: 13px;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #ffffff;
}

#Summary #seat-selection-summary .summary-row:after
{
  content: " ";
  display: block;
  clear: both;
}

#Summary #seat-selection-summary .summary-row:first-child
{
    margin-top: 16px;
    margin-top: 1rem;
}

#Summary #seat-selection-summary .summary-row:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

#Summary #seat-selection-summary .summary-row .seat,
#Summary #seat-selection-summary .summary-row .type
{
    font-style: italic;
}

.dialog-ui.dialog-syos
{
    background-color: white;
    max-width: none;
    color: #464841;
    border: 1px solid #464841;
}

.dialog-ui:before
{
    display: none;
}

.dialog-ui.dialog-syos:after
{
    position: absolute;
    width: 40px;
    height: 40px;
    transform: rotateZ(45deg);
    content: "";
    bottom: -20px;
    background-color: white;
    border-bottom: 1px solid #464841;
    border-right: 1px solid #464841;
    left: 80%;
}

#syos-dialog .form-holder .fieldset-holder
{
    padding-top: 0 !important;
}

#syos-dialog .form-holder .fieldset-holder fieldset
{
    margin: 0;
}

#syos-dialog .form-holder .fieldset-holder fieldset ul.text-fields
{
    margin-top: 0;
}
/*#endregion */

/*#region PROMOCODE PANEL */
#PromocodePanel:first-child {
    padding-left: 0;
}

#promocode-panel input[type=text]
{
    width: 65%;
    max-width: 200px;
    padding: 0.8em 0.6em 0.6em;
}

#promocode-panel input[type=submit]
{
    -webkit-appearance: none;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 1.1em 1.5em 1em;
    line-height: 0;
    background-color: #e03222;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-left: 0.5em;
}

#promocode-panel input[type=submit]:hover
{
    background-color: #464841;
    color: #f5d606;
}

#promocode-panel .promo-active::before
{
    content: " If you have a promotion code, enter it here";
    display: block;
    clear: both;
    margin-bottom: 2rem;
    margin-top: 0.3rem;
}

#promocode-panel .promo-active
{
    margin-bottom: 1rem;
}

#promocode-panel a.on-dk-gray
{
    color: #e03222;
}

/* #promocode-panel .smaller
{
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 1rem;
} */

#PromocodePanel, #BestAvailableNotePanel, #SyosNotePanel, #AccessPanel
{
    margin-top: 32px;
    margin-top: 2rem;
}
/*#endregion*/

/*#region BEST AVAILABLE */
#BestAvailablePanel
{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#BestAvailablePanel:after
{
  content: " ";
  display: block;
  clear: both;
}

#BestAvailableNotePanel input[type=text]
{
    width: 50%;
    max-width: 200px;
}

#BestAvailableNotePanel input[type=submit]
{
    -webkit-appearance: none;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 1.1em 1.5em 1em;
    line-height: 0;
    background-color: #e03222;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-left: 0.5em;
}

#BestAvailableNotePanel input[type-submit]:hover
{
    background-color: #464841;
    color: #f5d606;
}

#BestAvailableNotePanel, #SyosNotePanel, #AccessPanel
{
    margin-top: 32px;
    margin-top: 2rem;
}

#BestAvailablePanel table
{
    width: 100%;
}

#BestAvailablePanel th
{
    background-color: #E3E6E1;
    padding-bottom: 5px;
    padding-bottom: 1rem;
}

#BestAvailablePanel td
{
    margin-bottom: 16px;
    margin-bottom: 1rem;
    padding: 5px 0;
    padding: 0.3rem 0;
}
/*#endregion*/

/*#region SYOS PANEL*/
#SyosPanel .long-block.stage-left g.seat-block
{
  transform: scale(1.16) translate(-20px, -46px);
}

#SyosPanel .long-block.stage-right g.seat-block
{
  transform: scale(1.16) translate(-90px, -46px);
}

#SyosPanel .stage-title .letter, #SyosPanel .stage-title .arrow
{
  fill: #464841;
}
/*#endregion*/

/*#region MOBILE BLOCK BACKGROUNDS*/
[name=block_523_0_1]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_0_1.svg") center center no-repeat;
}

[name=block_523_0_2]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_0_2.svg") center center no-repeat;
}

[name=block_523_0_3]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_0_3.svg") center center no-repeat;
}

[name=block_523_0_4]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_0_4.svg") center center no-repeat;
}

[name=block_523_0_5]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_0_5.svg") center center no-repeat;
}

[name=block_523_0_6]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_0_6.svg") center center no-repeat;
}

[name=block_523_0_7]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_0_7.svg") center center no-repeat;
}

[name=block_523_0_8]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_0_8.svg") center center no-repeat;
}

[name=block_523_0_9]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_0_9.svg") center center no-repeat;
}

[name=block_523_0_10]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_0_10.svg") center center no-repeat;
}

[name=block_523_0_11]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_0_11.svg") center center no-repeat;
}

[name=block_523_1_1]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_1_1.svg") center center no-repeat;
}

[name=block_523_1_2]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_1_2.svg") center center no-repeat;
}

[name=block_523_1_3]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_1_3.svg") center center no-repeat;
}

[name=block_523_1_4]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_1_4.svg") center center no-repeat;
}

[name=block_523_1_5]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_1_5.svg") center center no-repeat;
}

[name=block_523_1_6]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_1_6.svg") center center no-repeat;
}

[name=block_523_1_7]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_1_7.svg") center center no-repeat;
}

[name=block_523_2_1]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_2_1.svg") center center no-repeat;
}

[name=block_523_2_2]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_2_2.svg") center center no-repeat;
}

[name=block_523_2_3]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_2_3.svg") center center no-repeat;
}

[name=block_523_2_4]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_2_4.svg") center center no-repeat;
}

[name=block_523_2_5]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_2_5.svg") center center no-repeat;
}

[name=block_523_2_6]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_2_6.svg") center center no-repeat;
}

[name=block_523_2_7]
{
    background: url("/RSC/SYOS/facility/523/images/svg/523_2_7.svg") center center no-repeat;
}

[name=block_524_0_1]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_0_1.svg") center center no-repeat;
}

[name=block_524_0_2]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_0_2.svg") center center no-repeat;
}

[name=block_524_0_3]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_0_3.svg") center center no-repeat;
}

[name=block_524_0_4]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_0_4.svg") center center no-repeat;
}

[name=block_524_0_5]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_0_5.svg") center center no-repeat;
}

[name=block_524_0_6]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_0_6.svg") center center no-repeat;
}

[name=block_524_0_7]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_0_7.svg") center center no-repeat;
}

[name=block_524_0_8]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_0_8.svg") center center no-repeat;
}

[name=block_524_1_1]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_1_1.svg") center center no-repeat;
}

[name=block_524_1_2]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_1_2.svg") center center no-repeat;
}

[name=block_524_1_3]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_1_3.svg") center center no-repeat;
}

[name=block_524_1_4]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_1_4.svg") center center no-repeat;
}

[name=block_524_1_5]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_1_5.svg") center center no-repeat;
}

[name=block_524_1_6]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_1_6.svg") center center no-repeat;
}

[name=block_524_1_7]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_1_7.svg") center center no-repeat;
}

[name=block_524_2_1]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_2_1.svg") center center no-repeat;
}

[name=block_524_2_2]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_2_2.svg") center center no-repeat;
}

[name=block_524_2_3]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_2_3.svg") center center no-repeat;
}

[name=block_524_2_4]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_2_4.svg") center center no-repeat;
}

[name=block_524_2_5]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_2_5.svg") center center no-repeat;
}

[name=block_524_2_6]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_2_6.svg") center center no-repeat;
}

[name=block_524_2_7]
{
    background: url("/RSC/SYOS/facility/524/images/svg/524_2_7.svg") center center no-repeat;
}

/* RST Tempest */
[name=block_958_0_0]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_0.svg") center center no-repeat;
}

[name=block_958_0_1]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_1.svg") center center no-repeat;
}

[name=block_958_0_2]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_2.svg") center center no-repeat;
}

[name=block_958_0_3]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_3.svg") center center no-repeat;
}

[name=block_958_0_4]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_4.svg") center center no-repeat;
}

[name=block_958_0_5]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_5.svg") center center no-repeat;
}

[name=block_958_0_6]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_6.svg") center center no-repeat;
}

[name=block_958_0_7]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_7.svg") center center no-repeat;
}

[name=block_958_0_8]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_8.svg") center center no-repeat;
}

[name=block_958_0_9]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_9.svg") center center no-repeat;
}

[name=block_958_0_10]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_10.svg") center center no-repeat;
}

[name=block_958_0_11]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_0_11.svg") center center no-repeat;
}

[name=block_958_1_0]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_1_0.svg") center center no-repeat;
}

[name=block_958_1_1]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_1_1.svg") center center no-repeat;
}

[name=block_958_1_2]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_1_2.svg") center center no-repeat;
}

[name=block_958_1_3]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_1_3.svg") center center no-repeat;
}

[name=block_958_1_4]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_1_4.svg") center center no-repeat;
}

[name=block_958_1_5]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_1_5.svg") center center no-repeat;
}

[name=block_958_1_6]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_1_6.svg") center center no-repeat;
}

[name=block_958_2_0]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_2_0.svg") center center no-repeat;
}

[name=block_958_2_1]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_2_1.svg") center center no-repeat;
}

[name=block_958_2_2]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_2_2.svg") center center no-repeat;
}

[name=block_958_2_3]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_2_3.svg") center center no-repeat;
}

[name=block_958_2_4]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_2_4.svg") center center no-repeat;
}

[name=block_958_2_5]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_2_5.svg") center center no-repeat;
}

[name=block_958_2_6]
{
    background: url("/RSC/SYOS/facility/958/images/svg/958_2_6.svg") center center no-repeat;
}

/* BARBICAN */
/* stalls */
[name=block_814_0_0]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_0_0.svg") center center no-repeat;
}
[name=block_814_0_1]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_0_1.svg") center center no-repeat;
}
[name=block_814_0_2]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_0_2.svg") center center no-repeat;
}
[name=block_814_0_3]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_0_3.svg") center center no-repeat;
}
[name=block_814_0_4]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_0_4.svg") center center no-repeat;
}
[name=block_814_0_5]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_0_5.svg") center center no-repeat;
}
[name=block_814_0_6]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_0_6.svg") center center no-repeat;
}
[name=block_814_0_7]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_0_7.svg") center center no-repeat;
}
/* circle */
[name=block_814_1_0]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_1_0.svg") center center no-repeat;
}
[name=block_814_1_1]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_1_1.svg") center center no-repeat;
}
[name=block_814_1_2]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_1_2.svg") center center no-repeat;
}
[name=block_814_1_3]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_1_3.svg") center center no-repeat;
}
/* upper circle */
[name=block_814_2_0]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_2_0.svg") center center no-repeat;
}
[name=block_814_2_1]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_2_1.svg") center center no-repeat;
}
[name=block_814_2_2]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_2_2.svg") center center no-repeat;
}
[name=block_814_2_3]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_2_3.svg") center center no-repeat;
}
/* gallery */
[name=block_814_3_0]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_3_0.svg") center center no-repeat;
}
[name=block_814_3_1]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_3_1.svg") center center no-repeat;
}
[name=block_814_3_2]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_3_2.svg") center center no-repeat;
}
[name=block_814_3_3]
{
    background: url("/RSC/SYOS/facility/814/images/svg/814_3_3.svg") center center no-repeat;
}
/*#endregion*/

/*#region ZONE STYLES */
/* PREMIUM */
.P
{
    fill: #ABB2DA;
}

/* A */
.A
{
    fill: #7BCF9E;
}

/* B */
.B
{
    fill: #FFEF77;
}

/* C */
.C
{
    fill: #FFAF60;
}

/* D */
.D
{
    fill: #6FD9F8;
}

/* E */
.E
{
    fill: #FDB0D3;
}

/* STANDING */
.S
{
    fill: #666666;
}

/* WHEELCHAIR + COMPANION SEATS */
.W, .N
{
    /* fill: #6363ff; */
    fill: #6385ff;
}

/* PREMIUM */
#seat-information.P
{
    border: 2px solid #ABB2DA;
}

/* A */
#seat-information.A
{
    border: 2px solid #7BCF9E;
}

/* B */
#seat-information.B
{
    border: 2px solid #FFEF77;
}

/* C */
#seat-information.C
{
    border: 2px solid #FFAF60;
}

/* D */
#seat-information.D
{
    border: 2px solid #6FD9F8;
}

/* E */
#seat-information.E
{
    border: 2px solid #FDB0D3;
}

/* STANDING */
#seat-information.S
{
    border: 2px solid #666666;
}
/*#endregion*/

/*#region RSC Custom radio button - MAYBE REDUNDANT NOW
input.rsc-radio
{
    opacity: 0;
}

#bestlabel
{
    margin-left: 5px;
}

label.rsc-radio-label
{
    text-transform: uppercase;
    line-height: 1.2em;
    display: inline;
    margin: 0;
    position: relative;
    padding-left: 1.5em;
    vertical-align: middle;
    cursor: pointer;
}

label.rsc-label
{
    cursor: pointer;
}

.rsc-radio:checked + .rsc-radio-label::before
{
    border-color: #464841;
}

.rsc-radio-label::before
{
    border-color: #464841;
    border-radius: 50%;
    background-color: #fff;
    border-width: 1px;
    top: 0px;
}

.rsc-radio-label::before
{
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 14px;
    height: 14px;
    border-style: solid;
}

.rsc-radio:checked + .rsc-radio-label::after
{
    background-color: #e03222;
    top: 2px;
    left: 2px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.rsc-radio:checked + .rsc-radio-label::after
{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
} */

@media (min-width: 480px)
{
    
    #AuditoriaLevels .levels-svg
    {
        min-height: 263px;
    }
    
    #AuditoriaLevels #levels a
    {
        font-size: 16px;
    }
    
    #AuditoriaLevels #blocks
    {
        min-height: 700px;
    }
    
    #seat-information
    {
        width: 400px;
        padding: 2rem;
    }
      
    #seat-information #pricetype-table .pricetype-line
    {
        font-size: 16px;
    }
}

@media (min-width: 600px)
{
    #AuditoriaLevels .levels-svg
    {
        min-height: 310px;
    }
}

@media (min-width: 790px) {
    
    #MapContainer {
        border: 0;
    }
    
    .k-ie #AuditoriaLevels .levels-svg
    {
        min-height: 500px;
    }
    
    .k-ie #MapContainer svg
    {
        min-height: 700px;
    }
    
    #Summary #seat-selection-summary .summary-row div
    {
        width: 20%;
    }
    
    .summary-row .price
    {
        text-align: center;
    }
    
    #Summary #seat-selection-summary .summary-row .remove
    {
        margin-top: 0;
        width: 20%;
    }
    
    #Summary #seat-selection-summary .summary-row .type
    {
        display: block;
    }
    
    #performance-notes
    {
        margin-bottom: 32px;
        margin-bottom: 2rem;
    }
    
    #BestAvailableNotePanel, #AccessPanel, #SyosNotePanel
    {
        width: 50%;
        float: left;
        padding-right: 2.77778%;
    }
    #PromocodePanel {
        margin-top: 0;
    }
}