////// BREAKPOINTS
$small             : 480px;
$small-ie          : 480px, 'no-query' true;
$smadium           : 600px;
$smadium-ie        : 600px, 'no-query' true;
$medium            : 790px;
$medium-ie         : 790px, 'no-query' true;
$large             : 1024px, 'no-query' true;
$intro-break       : 1110px;
$xlarge            : 1440px;




////// MAX WIDTH FOR COPY
$copy-max          : 57rem;




////// MARGINS AND SPACING
$single-gap        : 1rem;
$double-gap        : 2rem;




////// COLOURS
$lightgray         : #b4baae;
$lightergray       : #e3e6e1;
$gray              : #464841;
$red               : #e03222; // rgb(224, 50, 34) old - #ee3524;
$gold              : #f5d606;




////// FONTS
$font-primary      : 'Futura', Helvetica, Arial, sans-serif;




////// FONT SIZES
$font-scale        : 1.333;
$font-scale-mob    : 1.125;

$h1                : 36px;
$intro-copy-lrg    : 26px;
$h2-home           : 26px;
$h2                : 20px;
$h3                : 18px;
$font-reg          : 16px;
$widget-copy       : 14px;
$font-small        : 12px;

$font-smaller      : $font-reg / $font-scale;
$font-bigger       : $font-reg * $font-scale;

$mob-font-bigger   : $font-reg * $font-scale-mob;




////// BORDERS
$mainBorder        : 1px solid $gray;
$lightBorder       : 1px solid $lightergray;




////// LETTER SPACING
$head-space        : 0.2rem;
$button-space      : 0.02rem;
$topmenu-space     : 0.03rem;
$intro-space       : 0.1rem;




////// ANIMATION/TRANSITION SPEEDS
$slowSpeed: 0.8s;
$hoverSpeed: 0.4s;
$quickSpeed: 0.25s;




////// BAREMETRICS VARIABLES, GET RID!!!!!
$rem-base: 16px;