@import "compass";
@import "breakpoint";
@import "susy";

@import "variables";
@import "mixins";

////// SUSY GRID LAYOUT
$susy: (
    columns: 12,
    gutters: 0.5,
    gutter-position: split
);

// Will not print media queries
$breakpoint-no-queries: true;
// Will print No Query Fallbacks
$breakpoint-no-query-fallbacks: true;
// old ie mixin enable
$old-ie: true;

@import "shopstyles";