/* line 5, /Applications/MAMP/htdocs/rsc-website/sass/compass/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Applications/MAMP/htdocs/rsc-website/sass/compass/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Applications/MAMP/htdocs/rsc-website/sass/compass/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Applications/MAMP/htdocs/rsc-website/sass/compass/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Applications/MAMP/htdocs/rsc-website/sass/compass/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Applications/MAMP/htdocs/rsc-website/sass/compass/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}

/* line 103, /Applications/MAMP/htdocs/rsc-website/sass/compass/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Applications/MAMP/htdocs/rsc-website/sass/compass/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Applications/MAMP/htdocs/rsc-website/sass/compass/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
body {
  background-color: white;
}

/* line 27, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav-outer {
  background: #e3e6e1;
}

/* line 31, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav-holder {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, /Applications/MAMP/htdocs/rsc-website/sass/susy/susy/output/support/_clearfix.scss */
.greedy-nav-holder:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 35, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav {
  position: relative;
  min-width: 250px;
  margin: 0 auto;
  max-width: 1440px;
}

/* line 41, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav a, .greedy-nav button {
  font-size: 12px;
}

/* line 45, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav a {
  display: block;
  padding: 16px 32px;
  padding: 1rem 1.5rem;
  background: #e3e6e1;
  color: #464841;
  text-decoration: none;
}

/* line 53, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav a:hover {
  color: #fff;
  background: #464841;
}

/* line 59, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav button {
  position: absolute;
  height: 100%;
  right: 0;
  padding: 0 15px;
  border: 0;
  background-color: #e3e6e1;
  color: #464841;
  cursor: pointer;
}

/* line 69, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav button:hover {
  color: #fff;
  background: #464841;
}

/* line 74, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav button::after {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
}

/* line 86, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav .visible-links {
  display: inline-table;
}

/* line 89, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav .visible-links li {
  display: table-cell;
}

/* line 94, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav .hidden-links {
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: 90;
}

/* line 100, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav .hidden-links li {
  display: block;
  border-top: 0px;
}

/* line 106, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav .hidden {
  visibility: hidden;
}

/* line 111, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.greedy-nav a, .greedy-nav button {
  font-size: 14px;
}

/* line 125, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-page p {
  font-size: 14px;
}

/* line 129, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-page:not(.shop-home) header {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  background-color: white;
}

/* line 135, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-page .base-header {
  background-color: white;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, /Applications/MAMP/htdocs/rsc-website/sass/susy/susy/output/support/_clearfix.scss */
.shop-page .base-header:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 140, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-page .button-link {
  font-size: 12px;
  padding: 8px 11px 6px;
  padding: 0.5rem 0.7rem 0.4rem;
}

/* line 149, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-home h1 {
  font-size: 36px !important;
}

/* line 153, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-home .shop-header {
  padding: 8px 1.3889%;
  padding: 0.5rem 1.3889%;
  margin-bottom: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, /Applications/MAMP/htdocs/rsc-website/sass/susy/susy/output/support/_clearfix.scss */
.shop-home .shop-header:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 160, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-home .hero-intro {
  margin-top: 0;
}

/* line 163, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-home .hero-intro p {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 0;
}

/* line 169, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-home .hero-intro .button-link {
  font-weight: normal;
  margin-left: 1.3889%;
  margin-right: 1.3889%;
  margin-top: 16px;
  margin-top: 1rem;
}

/* line 178, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-home .hero-intro .button-link {
  font-size: 14px;
}

/* line 188, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-home .listing-container {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 196, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.gold-btn svg {
  fill: #464841;
  -webkit-transition: fill 0.4s ease-out;
  -moz-transition: fill 0.4s ease-out;
  -o-transition: fill 0.4s ease-out;
  transition: fill 0.4s ease-out;
}

/* line 201, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.gold-btn:hover svg {
  fill: #f5d606;
  -webkit-transition: fill 0.25s ease-out;
  -moz-transition: fill 0.25s ease-out;
  -o-transition: fill 0.25s ease-out;
  transition: fill 0.25s ease-out;
}

/* line 209, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.gray-btn svg {
  fill: #f5d606;
  -webkit-transition: fill 0.4s ease-out;
  -moz-transition: fill 0.4s ease-out;
  -o-transition: fill 0.4s ease-out;
  transition: fill 0.4s ease-out;
}

/* line 214, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.gray-btn:hover svg {
  fill: white;
  -webkit-transition: fill 0.25s ease-out;
  -moz-transition: fill 0.25s ease-out;
  -o-transition: fill 0.25s ease-out;
  transition: fill 0.25s ease-out;
}

/* line 222, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat header, .shop-cat section, .shop-dept header, .shop-dept section, .shop-details header, .shop-details section {
  padding: 0 5.5556%;
}

/* line 226, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .base-header, .shop-dept .base-header, .shop-details .base-header {
  width: 96.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 231, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .listing-container h2, .shop-dept .listing-container h2, .shop-details .listing-container h2 {
  margin-right: 1.6667%;
  margin-left: 1.6667%;
}

/* line 237, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .half, .shop-cat .third, .shop-dept .half, .shop-dept .third, .shop-details .half, .shop-details .third {
  width: 96.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 241, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .quarter, .shop-dept .quarter, .shop-details .quarter {
  width: 46.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 244, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .quarter:nth-of-type(2n + 3), .shop-dept .quarter:nth-of-type(2n + 3), .shop-details .quarter:nth-of-type(2n + 3) {
  clear: both;
}

/* line 251, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .half, .shop-dept .half, .shop-details .half {
  width: 46.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 255, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .third, .shop-dept .third, .shop-details .third {
  width: 46.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 258, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .third:nth-of-type(2n + 3), .shop-dept .third:nth-of-type(2n + 3), .shop-details .third:nth-of-type(2n + 3) {
  clear: both;
}

/* line 263, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .quarter, .shop-dept .quarter, .shop-details .quarter {
  width: 29.9997%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 266, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .quarter:nth-of-type(2n + 3), .shop-dept .quarter:nth-of-type(2n + 3), .shop-details .quarter:nth-of-type(2n + 3) {
  clear: none;
}

/* line 270, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .quarter:nth-of-type(3n + 4), .shop-dept .quarter:nth-of-type(3n + 4), .shop-details .quarter:nth-of-type(3n + 4) {
  clear: both;
}

/* line 278, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .third, .shop-dept .third, .shop-details .third {
  width: 29.9997%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 281, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .third:nth-of-type(2n + 3), .shop-dept .third:nth-of-type(2n + 3), .shop-details .third:nth-of-type(2n + 3) {
  clear: none;
}

/* line 285, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .third:nth-of-type(3n + 4), .shop-dept .third:nth-of-type(3n + 4), .shop-details .third:nth-of-type(3n + 4) {
  clear: both;
}

/* line 290, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .quarter, .shop-dept .quarter, .shop-details .quarter {
  width: 21.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 293, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .quarter:nth-of-type(3n + 4), .shop-dept .quarter:nth-of-type(3n + 4), .shop-details .quarter:nth-of-type(3n + 4) {
  clear: none;
}

/* line 297, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-cat .quarter:nth-of-type(4n + 5), .shop-dept .quarter:nth-of-type(4n + 5), .shop-details .quarter:nth-of-type(4n + 5) {
  clear: both;
}

/* line 317, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-header-outer {
  background-color: white;
}

/* line 321, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-header {
  text-align: right;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

/* line 326, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-header a {
  padding: 6px 32px 0 0;
  padding: 6px 2rem 0 0;
  float: left;
  float: none;
}

/* line 335, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-header a span {
  color: #464841;
  display: none;
  display: inline;
}

/* line 345, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-header input {
  width: 50%;
  max-width: 200px;
  padding: 5px 35px 5px 0;
}

/* line 351, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-header span a {
  margin-left: -30px;
  padding-right: 5px;
  color: #464841;
  float: none;
}

/* line 357, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.shop-header span a:hover {
  color: #e03222;
}

/* line 369, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.product-container {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

/* line 374, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.product-image {
  display: inline-block;
  max-width: 100%;
}

/* line 379, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.product-title, .category-title {
  color: #464841;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

/* line 386, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.product-title {
  font-weight: bold;
  float: left;
  width: 75%;
}

/* line 395, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.category-title {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 401, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.third .product-image-holder {
  height: auto;
  height: 340px;
}

/* line 417, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.quarter .product-image-holder {
  height: 135px;
  height: 200px;
}

/* line 443, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.product-image-holder {
  text-align: center;
}

/* line 446, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.product-image-holder .product-image {
  max-height: 100%;
}

/* line 451, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.product-images {
  height: 100%;
  position: relative;
}

/* line 461, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.product-image-thumbnails {
  margin-top: 16px;
  margin-top: 1rem;
  text-align: center;
}

/* line 467, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.thumbnail {
  max-width: 50px;
  cursor: pointer;
}

/* line 472, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.product-details {
  padding-top: 16px;
  padding-top: 1rem;
}

/* line 477, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.product-price {
  color: #e03222;
  float: right;
  font-weight: bold;
}

/* line 483, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.product-description {
  padding-top: 5px;
  color: #464841;
  clear: both;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 492, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.cta {
  position: relative;
  border-top: 1px solid #e3e6e1;
  margin-top: 24px;
  margin-top: 1.5rem;
  float: right;
  width: 18%;
  height: 100%;
  padding-left: 1%;
  margin-top: 0;
  border-top: 0;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

/* line 498, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.cta p {
  font-size: 14px;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/* line 504, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.cta .quantity {
  padding: 16px 0;
  padding: 1rem 0;
  border-top: 1px solid #e3e6e1;
  border-bottom: 1px solid #e3e6e1;
}

/* line 510, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.cta .quantity select {
  padding: 0 5px;
}

/* line 525, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.cta .product-price {
  margin-top: 0;
}

/* line 537, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container, .hero-container-1, .hero-container-2 {
  margin-bottom: 64px;
  margin-bottom: 4rem;
}

/* line 544, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-1 .product-container {
  width: 96.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 548, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-1 .product-image {
  margin-left: auto;
  margin-right: auto;
  max-height: 340px;
  width: auto;
}

/* line 555, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-1 .product-price {
  margin: 32px 0 16px;
  margin: 2rem 0 1rem;
  float: none;
}

/* line 561, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-1 .product-details {
  width: 100%;
  height: 100%;
  margin-top: 16px;
  margin-top: 1rem;
}

/* line 568, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-1 .offer-panel {
  padding: 16px;
  padding: 1rem;
  margin: 16px 0;
  margin: 1rem 0;
  background: #e3e6e1;
}

/* line 575, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-1 .offer-panel .offer {
  padding: 8px 0;
  padding: 0.5rem 0;
}

/* line 583, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-1 .product-price {
  margin: 16px 0;
  margin: 1rem 0;
  float: none;
  font-size: 18px;
}

/* line 590, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-1 .product-details {
  width: 50%;
  float: left;
  margin-top: 0;
  padding: 0 1%;
  border-right: 1px solid #e3e6e1;
}

/* line 602, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-2 .product-image {
  margin-left: auto;
  margin-right: auto;
}

/* line 607, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-2 .product-details {
  position: relative;
  height: 100%;
}

/* line 612, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-2 .button-link {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 619, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-2 .product-image {
  float: left;
  width: 48%;
  text-align: left;
}

/* line 625, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.hero-container-2 .product-details {
  float: right;
  width: 52%;
  height: 100%;
  padding-top: 0;
  padding-left: 1rem;
}

/* line 643, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.listing-container h2 {
  max-width: 100%;
  margin: 32px 1.3889%;
  padding-bottom: 16px;
  margin: 2rem 1.3889%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #464841;
  font-size: 26px;
}

/* line 651, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.listing-container h2 span {
  color: #b4baae;
}

/* line 656, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.listing-container .sort {
  margin: 0 5.55556%;
  float: right;
  margin: 32px 1.5% 0 1.5%;
  margin: 2rem 1.5% 0 1.5%;
}

/* line 666, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.listing-container .product-price {
  font-size: 12px;
}

/* line 674, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.listing-container .list-item a, .listing-container a.list-item {
  display: block;
}

/* line 680, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.listing-container.list-centered h2 {
  border: 0;
  padding-bottom: 0;
  margin-top: 0;
  text-align: center;
}

/* line 687, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.listing-container.list-centered .list-item {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  text-align: center;
}

/* line 693, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.listing-container.list-centered .category-title {
  color: #e03222;
  font-size: 12px;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1em;
  line-height: 1rem;
  height: 32px;
  height: 2rem;
  overflow: hidden;
  letter-spacing: 0.03rem;
}

/* line 714, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-featured {
  margin-top: 32px;
  margin-top: 2rem;
}

/* line 718, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-featured h2 {
  font-weight: normal;
  font-size: 26px;
  border-bottom: 1px solid #464841;
  padding-bottom: 16px;
  margin-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

/* line 727, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-featured .button-link {
  font-weight: normal;
}

/* line 730, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-featured .button-link svg {
  height: 11px;
  width: 7px;
}

/* line 737, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-featured-inner {
  padding: 32px 5.5556%;
  padding: 2rem 5.5556%;
  border: 1px solid #464841;
  display: block;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 450px;
}

/* line 746, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-featured-inner > div {
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 757, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-featured-inner > div {
  width: 47.2222%;
}

/* line 763, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-featured-inner > div {
  width: 38.8889%;
}

/* line 769, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-feat-image {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* line 775, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-feat-image img {
  max-height: 100%;
}

/* line 781, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-feat-header {
  -webkit-order: -1;
  order: -1;
}

/* line 789, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-feat-details {
  padding-top: 16px;
  padding-top: 1rem;
}

/* line 794, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-feat-title {
  text-transform: uppercase;
  color: #e03222;
  line-height: 1.3em;
  line-height: 1.3rem;
  letter-spacing: 0.03rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/* line 808, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-feat-desc {
  margin: 16px 0;
  margin: 1rem 0;
  letter-spacing: 0.03rem;
}

/* line 820, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-infocus-outer {
  margin-top: 32px;
  margin-top: 2rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

/* line 828, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-infocus h2 {
  color: #e3e6e1;
  text-align: center;
  font-size: 26px;
  margin: 0 auto 32px auto;
  margin: 0 auto 2rem auto;
}

/* line 836, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-infocus .hs-outer {
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}

/* line 841, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-infocus .hs-item {
  width: 47.2222%;
  margin-left: 1.3889%;
  margin-right: 1.3889%;
  width: 30.5556%;
}

/* line 855, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-infocus .hs-item-inner {
  text-align: center;
}

/* line 859, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-infocus .product-image {
  max-height: 144px;
  display: inline-block;
  max-height: 297px;
}

/* line 884, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-infocus .product-title {
  color: #f5d606;
  margin-top: 8px;
  margin-top: 0.5rem;
  padding-bottom: 0;
  float: none !important;
  width: 100% !important;
  font-size: 14px;
  line-height: 1.1em;
}

/* line 895, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-infocus .hs-transport {
  text-align: right;
  margin-top: 32px;
  margin-top: 2rem;
}

/* line 900, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-infocus .hs-transport .hs-right, .sh-infocus .hs-transport .hs-left {
  display: inline-block;
  width: 13.8889%;
  margin-left: 1.3889%;
  margin-right: 1.3889%;
  width: 5.5556%;
}

/* line 907, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-infocus .hs-transport .hs-right:hover svg, .sh-infocus .hs-transport .hs-left:hover svg {
  fill: white;
  transition: fill 0.25s ease-out;
}

/* line 918, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-infocus .hs-transport svg {
  transition: fill 0.4s ease-out;
  fill: #f5d606;
  max-width: 40px;
  max-height: 23px;
}

/* line 933, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-banner-inner {
  padding-bottom: 32px;
  padding-bottom: 2rem;
  display: block;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* line 937, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-banner-inner h2, .sh-banner-inner p {
  color: #f5d606;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/* line 943, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-banner-inner p {
  font-size: 16px;
  line-height: 1.3em;
  line-height: 1.3rem;
}

/* line 949, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-banner-inner > .fth-smad-12:first-of-type {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

/* line 954, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-banner-inner a.button-link {
  font-size: 14px;
  font-weight: normal;
}

/* line 960, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-banner-inner a.button-link svg {
  width: 12px;
  height: 12px;
  fill: white;
  -webkit-transition: fill 0.4s ease-out;
  -moz-transition: fill 0.4s ease-out;
  -o-transition: fill 0.4s ease-out;
  transition: fill 0.4s ease-out;
}

/* line 967, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-banner-inner a.button-link:hover svg {
  fill: #e03222;
  -webkit-transition: fill 0.25s ease-out;
  -moz-transition: fill 0.25s ease-out;
  -o-transition: fill 0.25s ease-out;
  transition: fill 0.25s ease-out;
}

/* line 973, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-banner-inner .sh-banner-img, .sh-banner-inner .sh-banner-copy {
  padding-left: 5.5556%;
  padding-right: 5.5556%;
}

/* line 983, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-banner-inner > .fth-smad-12:first-of-type {
  margin-bottom: 0;
}

/* line 987, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-banner-inner .sh-banner-copy {
  padding-left: 0;
  padding-right: 0;
}

/* line 994, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-banner-inner h2 {
  font-size: 36px;
}

/* line 1006, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-footer {
  padding: 32px 0;
  margin-bottom: -32px;
  padding: 1rem 0;
  margin-bottom: -2rem;
}

/* line 1011, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-footer h2 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 1016, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-footer ul > li {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  line-height: 1.2em;
  line-height: 1.2rem;
}

/* line 1022, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-footer ul > li:last-child {
  margin-bottom: 0;
}

/* line 1027, /Applications/MAMP/htdocs/rsc-website/sass/_shopstyles.scss */
.sh-footer .cat-sec {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
